<div class="row-fluid">
    <div class="span12">
        <div class="block">
            <%= link_to 'Store Edit', edit_store_path(@store) %> |
            <%= link_to 'Store Index', stores_path %> |
            <%= link_to 'Store Messages', messages_store_path %>

            <%= render partial: 'shared/flash_partial'%>

            <p>
                <strong>Name:</strong>
                <%= @store.name %>
            </p>

            <p>
                <strong>Address:</strong>
                <%= @store.address %>
            </p>

            <p>
                <strong>Manager:</strong>
                <%= @store.manager_name %>
            </p>

            <p>
                <strong>telephone:</strong>
                <% if @store.telephone.nil? then%>
                    &#060;Telephone&#062; isn't already defined.
                <% else %>
                    <%= @store.telephone %>
                <% end %>
            </p>

            <%= render partial: 'groups/table', locals: { store: @store } %>

        </div>
    </div>
</div>



